.box{
    background-color: gray;
    color: white;
    padding: 30px;
    font-size: 120%;
    border-radius: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: 10% 10% 10%;
    justify-content: center;
    text-align: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 10px;
}