body{
    margin: 0;
}
header{
    background-color: black;
    color: white;
    padding: 20px;
    padding-bottom: 5px;
}
li{
    display: inline;
    padding: 10px;
}
li:hover {
    cursor: pointer;
    background-color: rgb(54, 54, 54);
}