h1 {
    color: blue;
}

#a1 {
    color: red;
}

#a2 {
    color: green;
}

#a3 {
    color: red;
}

#a4 {
    color: green;
}

#a5 {
    color: red;
}

#p1 {
    color: gray;
}

#p2 {
    color: orange;
}

#p3 {
    color: gray;
}

#p4 {
    color: orange;
}