
.container{
    display: flex;
    width: 24%;
    height: 350px;
    margin: auto;
    border: 2px solid lightseagreen;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.item{
    display: flex;
    width: 28%;
    height: 50px;
    justify-content: left;
    align-items: center;
    background-color: rgba(14, 88, 131, 0.701);
    color: white;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}