
.contenitore{
    width: fit-content;
    height: 230px;
    border: 20px solid lightblue;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}

.colonne{
    width: 150px;
    height: 180px;
    border: 1px solid grey;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.colonne > img{
    width: 150px;
    height: 180px;
}

p{
    font-weight: bold;
}

.testo{
    width: 150px;
    text-align: center;
    border: 1px solid grey;
    line-height: 0px;
}