div{
    border: 1px solid black;
}

#barra{
    padding-left: 50px;
    width: 100%;
    height: 350px;
    background-image: url("sfondo_barra.jpg");
}

#img_h214{
    position: relative;
    top: 68px;
}
#nome{
    font-size: 100px;
    position: relative;
    top: 70px;
    left: 75px;
}
#testo{
    width: 100%;
}
#col_str{
    background-color: white;
    height: 500px;
    position: relative;
    width: 30%;
}
#col_lar{
    background-color: lightgray;
    height: 500px;
    position: relative;
    width: 70%;
}
span{
    vertical-align: -5px;
}