.grid-container {
  display: grid;
  grid-template-columns:
    repeat(3, 0.01fr);
  gap: 1em;
}

.grid-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: grey;
  padding: 10px;
  width: 5em;
  height: 2em;
  color: white;
}