h1{
    text-transform: uppercase;
    color:blue;
}
h2{
    text-decoration: underline;
    color:red;
    text-transform: capitalize;
}
.terzo{
    text-align: right;

}
p{
    text-align:justify;
}