 body {
     background-color: #e6d190;
     margin-left: 10%;
     margin-right: 10%;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 h1 {
     color: #621c1f;
     text-align: center;
 }

 h2 {
     color: #621c1f;

 }

 h3 {
     color: #621c1f;

 }

 .destra {
     float: right;
     margin-top: -60px;
 }

 sub {
     opacity: 0.6;
 }

 small {
     opacity: 0.6;
 }