.container {

    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    flex-direction: row;
    align-items: stretch;
    width: 550px;
    padding: 5px;
    margin-top: 190px;
    margin-left: 500px;
}

.div1 {
    
    color: white;
    background-color: blue;
    border: 2px solid rgb(145, 145, 255);
    border-radius: 6px;
    width: 300px;
    row-gap: 100px;
    padding: 10px;
    text-align: left;
}