#Primi_piatti
{
    margin-top: 25em;
}

#Secondi_piatti
{
    margin-top: 20em;
}

#Contorni
{
    margin-top: 38em;
}

#Prezzo
{
    text-align: right;
}


.Pasti
{
    font-size: 110%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    float: left; 
}

.Prezzo
{
    font-size: 110%;
    float: right;
    color: rgb(0, 0, 0);
}

h1
{
    color: blue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
}

h2
{
    font-size: 125%;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: rgb(138, 15, 15);
}

hr
{
    visibility: hidden;
}

small
{
    font-size: 55%;
}

body
{
    background-color:fuchsia;
}
