.grid-container {
    display: grid;
    grid-template-columns: 
    repeat(6, 1fr);
  }
  
  .grid-item {
      border: 1px solid red;
      padding: 10px;
      text-align: center;
  }
  .a {
      grid-column-start: 2;
      grid-column-end: 5;
  }
  
  .b {
      grid-row-start: 2;
      grid-row-end: 5;
  }

  .c{
    grid-column-start: 2 ;
    grid-column-end:5;
    grid-row-start: 2;
    grid-row-end:5;

  }

  .d{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end:8;
  }