.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #881D8D;
  width: 300px;
  padding: 10px;
}

.item {
  background-color: #FFAD49;
  border: 1px solid #FF920D;
  width: 40px;
  padding: 10px;
  text-align:center;
}