.container {
    padding: 10px;
    display: flex;
  }

  
  .item {
    background-color: black;    
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    
  }
  .item:hover{
    background-color: gray;
  }