.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 95vh;
  width: 50%;
  justify-content: center;
  align-content: center;
  margin: auto;
  max-width: 100%;
}

.sinistra {
  padding-top: 7%;
  border: 1px solid red;
  background-color: gray;
  color: white;
}

.destra {
  border: 1px solid red;
  background-color: white;
}

img {
  width: 8vw;
  max-width: 100%;
  border-radius: 100%;
  background-color: white;
}

.top {
  text-align: center;
}

.nome {
  color: white;
}

.bottom {
  text-align: center;
  padding: 1%;
}

p {
  text-align: justify;
  font-size: 1vw;
  padding-left: 2%;
  padding-right: 2%;
}

h1 {
  font-size: 1.5vw;
}

h3 {
  font-size: 1.5vw;
}

h4 {
  font-size: 1.1vw;
}

.contatto {
  font-size: 0.8vw;
}
.material-icons{
  font-size: 5vw;
}