td{
    width: 100px;
    height: 100px;
    background-color: black;

}
.td1{
    background-color:red;
}
.td2{
    background-color:yellow;
}
.td3{
    background-color:#09C6F9;
}
.td4{
    background-color:#04FF00;
}
.td5{
    background-color:rgb(253, 163, 8);

}
.td6{
    background-color:rgb(255, 16, 255);
}
.td7{
    background-color:hwb(266 0% 5%);
}
.td8    {
    background-color:rgba(245, 40, 118, 0.71);
}
.td9    {
    background-color:rgba(129, 220, 18, 1);
}
.td10    {
    background-color:hsl(188, 98%, 48%);
}
.td10    {
    background-color:hsl(103, 88%, 24%);
}
.td11
{
background-color:hsla(9, 40%, 34%, 0.4);
}
.td12{
    background-color:hsla(10, 45%, 34%, 0.7);
}