nav{
    width: 40%;
    height: 3em;
    position: fixed;
    background-color: black;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    font-size: large;
    padding: 0px 30px;
    color: whitesmoke;
    text-decoration: none;
}

nav li:hover{
    background-color: crimson;
    transition: all 0.4s ease 0s;
}