nav{
    width: 36%;
    height: 1.3em;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    margin: auto;
}

nav div {
    display: inline-block;
}

nav div a {
    font-size: large;
    padding: 0px 30px;
    color: whitesmoke;
    text-decoration: none;
}

nav div:hover{
    background-color: crimson;
    transition: all 0.4s ease 0s;
}