img{
    position: absolute;
    left: 5px;
    top: 10px;
    z-index: -1;
    width: 50%;
    height: 250px;
}

div{
    text-align: center;
}

p{
    color: yellow;
    font-weight: bolder;
    font-size: 2.5em;
    padding-left: 15px;
}