h1{
    color: blue;
}

#titolo1{
    color: red;
}

#titolo3{
    color: red;
}

#titolo5{
    color: red;
}

#titolo2{
    color: green;
}

#titolo4{
    color: green;
}

#titolo6{
    color: green;
}

#brano1{
    color: gray;
}

#brano3{
    color: gray;
}

#brano5{
    color: gray;
}

#brano2{
    color: orange;
}

#brano4{
    color: orange;
}

#brano6{
    color: orange;
}