h1{
    color: red;
    text-align: center;
    text-decoration: underline;
}

table {
    border-collapse:collapse;
    margin-left: 38%;
}
    
td, th {
    border: 1px solid black;
    padding: 8px;
    
}

tr:nth-child(odd)> td:nth-child(even){
    background-color: black;
    color: white;
}


tr:nth-child(even)> td:nth-child(odd){
    background-color: black;
    color: white;
}


tr:nth-child(odd)> td:nth-child(odd){
    background-color: white;
}

tr:nth-child(even)> td:nth-child(even){
    background-color: white;
}