.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    padding: 10px;
  }
  
  .item {
    background-color: blue;
    border-radius: 2px;
    width: 50px;
    padding: 30px;
    text-align: center;
    color: white;
    border-radius: 5px;
  }