h1, h2, h3{

    color: red;
    text-decoration: underline;
    text-decoration-color: gray;

}
p{

    color:blue;
    text-align: left;
}
#hea2
{color:green;
}
#par7
{
    color:red;
    text-align: right;
}
.par
{
    color:black;
    size:10px;
}
.dis
{
    color:red;
    size:3px;
}