hr{
   border: 1px solid blue; 
   width: 925px;

}

h1 {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 36px;
    text-align: center;
  }
  


  img{
    margin-top: 30px;
    float: right;
    margin-right: 20%;
    border-radius: 20px;
    border: 10px solid blue;
  }

.linea{
    margin-right: 2%;
    margin-bottom: 1    0px;
    height: 300px;
   
}

pre{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

u{
    color: blue;
}

header{

    background-color: blue;
}

