body {
	font-family: Arial, sans-serif;
	color: #333;
	background-color: #fff;
	margin: 0;
	padding: 0;
	background-color: rgb(22, 172, 226);
}
img{
	width: 20%;
	border-radius: 10px;
}
#container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

header {
	margin-bottom: 30px;
}

h1 {
	margin: 0;
	font-size: 40px;
}

h2 {
	margin: 0;
	font-size: 22px;
	font-weight: normal;
}

p {
	margin: 0;
	font-size: 16px;
	line-height: 1.4;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin-bottom: 30px;
}

li h3 {
	margin: 0;
	font-size: 22px;
}

li p {
	margin: 0;
	font-size: 16px;
	line-height: 1.4;
}

#education li h3 {
	color: #000a73;
}

#pippo li h3{
	color: #dc143c;
}

#work li h3 h2 {
	color: #dc143c;
}

#skills li {
	display: inline-block;
	padding: 5px 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #f2f2f2;
	border-radius: 3px;
	font-size: 14px;
}

#skills li:hover {
	background-color: #e2e2e2;
}
