.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 0.082fr);
    grid-template-areas: ". header header" 
    "sidebar content content " 
    "footer footer footer ";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    width: 70%;
}

.h {
    grid-area: header;
}

.s {
    grid-area: sidebar;
}

.c {
    grid-area: content;
}

.s2 {
    grid-area: sidebar2;
}

.f {
    grid-area: footer;
}

.item {
    background-color: rgb(128, 128, 128, 0.8);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.s, .c {
    background-color: rgba(0, 0, 0, 0.7);
}
