.id1{background-color: #B8B8F3;width: 10000px;height: 200px;}
.id2{background-color: #D7B8F3;width: 10000px;height: 200px;}
.id3{background-color: #F397D6;width: 10000px;height: 200px;}
.id4{background-color: #F42272;width: 10000px;height: 200px;}
.id5{background-color: #232E21;width: 10000px;height: 200px;}

