body {
    background-color: navajowhite;
}

h1 {
    font-size: 2em;
    color: darkred;
    text-align: center;
}

div {
    color: darkred;
    font-size: 1.5em;
}

.piatto {
    float: left;
    margin-left: 5%;
}

.prezzo {
    float: right;
    margin-right: 5%;
}