h1 {
    color: red;
    text-align: center;
}

.riga {
    display: flex;
    margin: auto;
    width: 800px;
}

div{
    width: 100px;
    height: 100px;
    font-size: 1.2em;
}

div:nth-child(odd)>div:nth-child(even)
 {
     background-color: brown;
 }
 div:nth-child(even)>div:nth-child(odd)
 {
     background-color: brown;
 }

 div:nth-child(odd)>div:nth-child(odd)
 {
     background-color: burlywood;
 }
 div:nth-child(even)>div:nth-child(even)
 {
     background-color: burlywood;
 }