#container {
    display: grid;
    grid-template-areas: "header header header header" 
    "sidebar1 main main sidebar2" 
    "footer footer footer footer";
    grid-template-columns: 
    150px 150px 150px 150px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.items {
    background-color: darkslategrey;
    font-size: larger;
    font-weight: bolder;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.a {
    grid-area: header;
}

.b {
    grid-area: sidebar1;
}

.c {
    grid-area: main;
}

.d {
    grid-area: sidebar2;
}

.e {
    grid-area: footer;
}