#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 15%;
    margin: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.items {
    background-color: darkslategrey;
    font-size: larger;
    font-weight: bolder;
    padding: 10px;
    border-radius: 5px;
}
