#container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 50%;
    margin: auto;
}

.items {
    border: 1px solid red;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

#a {
    grid-column: 2 / 5;
}

#b, #c {
    grid-row: 2 / 5;
}

#c {
    grid-column: 2 / 5;
}

#d {
    grid-column: 5 / 7;
    grid-row: 5 / 8;
}