.bg1{
    background-image: url("idee-per-background-2b.jpg");
    width: 40%;
    height: 30vh;
    color: white;
}
.bg2{
    background-image: url("abstract-neon-lights-background-design_52683-44643.jpg");
    width:300px;
    height: 30vh;
    color: white;
}
.bg3{
    background-image: url();
}
