td{
    width:100px ;
    height: 100px;
}
#td1{
    background-color: darkseagreen;
}
#td2{
    background-color: #A0DCA4;
}
#td3{
    background-color: #B0F2B4;
}
#td4{
    background-color: #B5F2CF;
}
#td5{
    background-color: #BAF2E9;
}
#td6{
    background-color: #BAE5EE;
}
#td7{
    background-color: #BAD7F2;
}
#td8{
    background-color: #D6C9DE;
}
#td9{
    background-color: #F2BAC9;
}
#td10{
    background-color: #F3C0CE;
}
#td11{
    background-color: #A05C7B;
}
#td12{
    background-color: #944654;
}
