.grid-container {
    width: 17vw;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-template-areas: 
    ". a a"
    "b c c"
    "e e e";
}
  
.grid-item {
    border-radius: 6px;
    padding: 0.6rem;
    background-color: rgb(68, 68, 68);
    color: white;
}
.a {
    grid-area: a;
    background-color: gray;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
    background-color: lightgray;
    color: black;
}

.e {
    grid-area: e;
    background-color: gray;
}