.tutto{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    width: 200px;
    height: 1350px;
    margin: auto;
    border: 20px solid cyan;
}
.didascalia
{
    width: 150px;
    text-align: center;
}
.img{
    width: 150px;
    height: 200px;
}
.colonna{
    border: 1px solid black;
    margin: 5px;

}