


.i1{background-image:url("/4INFO_2223/TPSI/Esercizi/CSS/amort_alberto/immagini/ietf-logo.gif"); height:50px; width:50px}

.i2{background-image:url("https://www.google.it/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"); height:50%; width:50%}

.i2{background-image:url("/4INFO_2223/TPSI/Esercizi/CSS/amort_alberto/immagini/ietf-logo.gif"); height:50%; width:50%}