.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    background-color: #881D8D;
    border: 1px solid green;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    height:100px;
  }
  
  .item {
    background-color: #FFAD49;
    width: 80px;
    padding: 10px;
    text-align:center;
    height: 20px;
  }
  .cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #881D8D;
    border: 1px solid green;
    justify-content: flex-end;
    width: 80%;
    padding: 10px;
    height:100px;
  }
  .item2{
    background-color: #FFAD49;
    width: 80px;
    padding: 10px;
    text-align:center;
    height: 20px;
  }