
.item1, .item2, .item3, .item4 {
  background-color: #FFAD49;
  border: 1px solid #FF920D;
  width: 80px;
  height: 40px;
  padding: 10px;
  text-align:center;
}
.item1, .item2, .item4 {
    flex-grow: 5;
}

.item1 { order: 4;}
.item2 { order: 1;}
.item3 { order: 2; flex-shrink: 4;}
.item4 { order: 3;}

.container {
    display: flex;
    flex-direction: row;
    background-color: #881D8D;
    width: 600px;
    height: 200px;
    padding: 10px;
  }