h1 > span {color: blue; }
h2 > span {color: red; }
p mark {color:green;}
p b {color:yellow; background-color: black;}
div em{color: red; background-color: yellow;}
div span{color: black; background-color: yellow;}