div{height:100%; width:100px;}


.i1{background-image:url("immagini/localhost.png"); height:50px; width:50px;}

.i2{background-image:url("https://www.google.it/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"); height:50%; width:50%;}

.i3{background-image:url("immagini/localhost.png"); height:50%; width:50%; background-repeat: repeat;}

.i4{background-image:url("immagini/localhost.png"); height:50%; width:50%; background-repeat: repeat-x;}
.i5{background-image:url("immagini/ilocalhost.png"); height:50%; width:50%; background-repeat: repeat-y;}