a:link{color: blue;}/*I link saranno di colore blu*/
a:visited{color:red; background-color: yellow;}/*Se il link viene aperto si colorerà di rosso con uno sfondo giallo*/
a:hover{color:green;}/*Se si passa il mouse sopra il link, il suo colore cambierà in verde*/
h1:first-child{color:blue; ; text-decoration: underline;}/*Il primo titolo h1 è di colore blu e sottolineato*/
h2:first-of-type{color:green}/*Il primo titolo h2 è di colore verde*/
p:first-of-type{color: red; text-align: left;} /*Il primo paragrafo è di colore rosso ed allineato a sinistra*/