#primo{font-family:sans-serif, Helvetica; font-style: italic; font-weight: bold; font-size: 0.5em;}
#secondo{ font-family: Sofia, sans-serif; font-weight: normal; font-style: oblique; font-size: 2em;}