#red{background-color: red; border: 3px solid; width: 400px; height: 200px;}

.purple{background-color: rgb(128, 0 , 128); height: 150px; border: 3px solid;}
#v1{width: 25%;}
#v2{width: 50%;}
#v3{width: 75%;}
#v4{width: 100%;}

.green{background-color: hsla(120, 100%, 25%, 65%); height: 221px; border: 3px solid; }
#g1{width: 12.5%;}
#g2{width: 50%;}
#g3{width: 62.5%;}
#g4{width: 22.22%;}
