.grid-container {
    display: grid;
    grid-template-columns: 
    repeat(6, 1fr);
  }
  
  .grid-item {
      border: 1px solid red;
      padding: 10px;
      text-align: center;
  }
  .a {
      grid-column: 1 / 5;
  }
  
  .b {
      grid-row: 2 / 5;
  }