.tutto
{
    width: 70%;
    height: 60px;
    display: flex;

    padding: 10px;
    margin: auto;

    margin-top: 100px;

    align-items: center;
    justify-content: space-between;

    border-radius: 5px;
    border: 1px solid grey;
}
.den
{
    height: 50%;

    color: white;
    font-size: 27px;
    padding: 10px;
    text-transform: capitalize;

    background-color: rgb(62, 62, 255);

    border-radius: 7px;
    border: 3px solid lightskyblue;
}