body
{
    padding-top: 10%;
}
#tutto
{
    width: 23%;
    height: 13.7rem;
    
    display: grid;

    margin: auto;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0.6rem;
    grid-row-gap: 0.6rem;

    

    grid-template-areas: 
    ". header header"
    "sidebar mezzo mezzo"
    "footer footer footer";

}
.it
{   
    border-radius: 0.3rem;
}

.a
{
    height: 2.4rem;
    padding-left: 1rem;
    line-height: 2.2rem;

    background-color: #a09c9c;
    color: white;

    grid-area: header;
}
.b
{
    padding: 1rem;
    background-color: #484444;
    color: white;
    grid-area: sidebar;
}
.c
{
    padding: 1rem;
    line-height: 1.6rem;
    background-color: #484444;
    color: white;
    grid-area: mezzo;
}
.d
{
    height: 2.4rem;
    padding-left: 1rem;
    line-height: 2.2rem;
    background-color: #a09c9c;
    color: white;
    grid-area: footer;
}