#fo1 
{
    background-image: url("foto1.jpeg");
    background-size: cover;
    width: 250px;
    height: 250px;
    border: 1px solid;
}

#fo2 
{
    background-image: url("foto2.jpeg");
    background-size: cover;
    width: 250px;
    height: 250px;
    border: 1px solid;
}

#fo3 
{
    background-image: url("foto3.jpeg");
    background-size: cover;
    width: 250px;
    height: 250px;
    border: 1px solid;
}

#fo4
{
    background-image: url("foto4.jpeg");
    background-size: cover;
    width: 250px;
    height: 250px;
    border: 1px solid;
}

p {text-align: center;}
.tit {border-bottom: 5px solid red; padding: 8px;}