

@media all 
    and (min-width: 1024px)
    {
        body
        {
            background-color: #486cb4;
            padding-top: 1%;
        }

        #tutto
        {
            width: 73.2%;
            height: 37.7rem;

            padding: 2%;

            background-color: white;

            margin: auto;


            grid-column-gap: 3%;
            grid-row-gap: 10%;
        

            grid-template-columns: repeat(4,1fr);

            grid-template-areas: 
            "sx sopra sopra dx"
            "sx sotto_sx sotto_dx dx";

            

            
        }

        .it
        {
            width: auto;
            height: auto;

            
        }
        .a
        {
            width: 300px;
            height: 600px;
            grid-area: sx;
        }
        .b
        {
            width: 440px;
            height: 240px;
            grid-area: sopra;
        }
        .it_b
        {
            width: 440px;
            height: 240px;
        }
        .c
        {
            width: 300px;
            height: 600px;
            grid-area: dx;
        }
        .d
        {
            width: 200px;
            height: 300px;
            grid-area: sotto_sx;
        }
        .e
        {
            width: 200px;
            height: 300px;
            grid-area: sotto_dx;
        }
    }
@media all 
    and (min-width: 481px) 
    and (max-width: 1023px)
    {
        body
        {
            padding-top: 4%;
        }
        #tutto
        {
            padding: 2%;
            border: 20px solid #486cb4;
        
            width: 150px;
            margin-left: 36%;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5,1fr);

            
        }

        .it_a
        {
            width: 100%;
            height: 70px;
            
        }
        .it_b
        {
            width: 100%;
            height: 70px;
            
        }
        .it_c
        {
            width: 100%;
            height: 70px;
            
        }
        .it_d
        {
            width: 100%;
            height: 70px;
            
        }
        .it_e
        {
            width: 100%;
            height: 70px;
            
        }


    }
#tutto
{
    display: grid;
    
    
}


