p > mark{color:green;}
p > b{
    color:yellow;
    background-color: black;
}
div > div > p > em{
    color:red;
    background-color: yellow;
}
div > p > span{
    background-color: yellow;
    color:black;
}
a:link{color:blue;}
a:visited{color: red;background-color: yellow;}
a:hover{color: green;}
h1:first-of-type{text-decoration: underline;text-decoration-color: blue;}
h2:first-of-type{color: green;}
p:first-child{color: red;text-align: left;}