.flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: blue;
    border-radius: 20px;
    width: 110px;
    height: 500px;
    padding: 10px;
    float: left;
}
.galleggia{
    text-align: center;
    float: left;
    width: 100px;
    height:70px;
    background-color: orangered;
    border-radius: 100%;
    color: blue;
    padding: 5px;
}
.galleggia:hover{
    text-align: center;
    float: left;
    width: 100px;
    height:70px;
    background-color: lime;
    border-radius: 100%;
    color: orangered;
    padding: 5px;
}
.spazio{float: left;width: 45%;height: 1px;}