#nome{width: 30%;background-color: aquamarine;}
#spazio{width: 10%;}
#ultimo{height: 60%;}
table{width: 100%;height: 1000px;}
h3{color: red;text-transform: uppercase;text-align: center;}
h2{color: blue;text-decoration: underline;text-decoration-color: blue;}
.img{text-align: center;border-bottom: 5px dashed blue;border-top: 5px dashed blue;}
.text{border-bottom: 5px dashed;}